<%- layout("/layouts/boilerplate") %>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirMojo</title>
</head> -->
<body>
    <h3>Edit your List : </h3>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="post">
        <!-- Earlier for taking input we are using placeholder to show to enter something, but here we need to show the already present input , so we use value attribut
        The value attribute sets the default content of an <input> field
        Useful in Edit Forms to show existing data. -->
        <input type="text" name="listing[title]" value="<%= listing.title %>">
        <br>
        <textarea  name="listing[description]"   rows="4" cols="30"><%= listing.description %> </textarea>
        <br>
        <input type="text" name="listing[image][url]" value="<%= listing.image.url %>" >
        <br>
        <input type="text" name="listing[image][filename]"value="<%= listing.image.filename %>" >
        <br>
        <input type="number" name="listing[price]" value="<%= listing.price %>" >
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>" >
        <br>
        <input type="text" name="listing[location]" value="<%= listing.location %>" >
        <button>Edit</button>
        <br>
    </form>
</body>
<!-- </html> -->